body {
	background-color: #232323;
	margin: 0;
}

h1 {
	font-size: 30px;
	font-weight: 300;
	margin: 0;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 0;
	padding: 13px;
}

#header {
	background-color: #616a6b;
	color: white;
	font-family: Quicksand;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	transition: background 0.3s;
	-moz-transition: background 0.3s;
	-webkit-transition: background 0.3s;
}

#rgbDisplay {
	font-size: 50px;
	font-weight: 700;
}

#stripe {
	height: 30px;
	background-color: white;
	margin-bottom: 30px;
	text-align: center;
}

button {
	height: 100%;
	color: #616a6b;
	background: none;
	font-family: Quicksand;
	font-size: inherit;
	font-weight: 700;
	border: none;
	padding: none;
	outline: none;
	text-transform: uppercase;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

button:hover {
	background-color: #616a6b;
	color: white;
}

#result {
	width: 15%;
	color: #616a6b;
	font-family: Quicksand;
	font-weight: 700;
	display: inline-block;
}

.selected {
	background-color: #616a6b;
	color: white;
}

#container {
	max-width: 500px;
	margin: 0 auto;
}

.square {
	width: 30%;
	border-radius: 25px;
	margin: 1.66%;
	padding-bottom: 30%;
	float: left;
	transition: background 0.5s;
	-moz-transition: background 0.5s;
	-webkit-transition: background 0.5s;
}

#instructions {
	color: white;
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
